h1 Client Setup

h2 Geo-location

p We've determined your computer is based in <strong>#{country}, #{city}</strong>.

p This crawler will have the id: <strong>#{id}</strong>

if seed
  h2 Client Seed
  p This client uses the seed: <a target="_blank" href="#{seed}">#{seed}</a>
else
  h2 Determine this crawler's seed
  p This client will start exploring the YouTube graph from a seed video, it's up to you to determine which seed video to use.
  form(method='POST', action='/client')
    label(for='seed') Seed Video URL:&nbsp;
    input(type='text', name='seed', id='seed')
    input(type='hidden', name='client_id', value=id)
    <br />
    <br />
    input(type='submit', value='Submit')
